body {
  background-color: aqua;
}

header {
  background-color: brown;
  display: flex;
  justify-content: center;
}

main {
  background-color: chartreuse;
}

footer {
  background-color: darkblue;
}

header ul {
  display: flex;
}
